p {
    border: 1px dashed gold;
    padding: 20px 20px 10px;
}

h1
{
    color: red;
    font-size: 100px;
    font-family:"serif";
}

.green_class{
    color: rgb(76,122,76);
}

#menu
{
    background-color: whitesmoke;
    color: red;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
p>a{
    color :aqua
}