div p{
    font-family: Arial,Verdana,Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    overflow: auto;
    text-align: center;
}


#menu
{
    background-color: orange;
    border: 2px ;
}

.p_style{
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color:chocolate;
    border: 2px dotted red;
    color: black;

    opacity: 0.5;
    height: 300px;
    width: 300px;
    margin-bottom: 3px;
    padding: 2px 2px 2px 3px;
    overflow: auto;
    border-radius: 50%;
}
div.p_style{
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

table.table{
    border-collapse: collapse;
    margin: 40px;
}
table.table tr:nth-child(odd){
    background-color: gray;
    color: white;

}
table.table tr:nth-child(even){
    background-color: white;
    color: orange;

}
tr.even{
    background-color: orange;
}

th{
    color: blue;
}


.td_anchor{
    color:white ;
    background-color:gray;
    font-size: 25px;
}