body { width: 500px; }
main, aside, footer {
    margin: 0;
    padding: 0 20px; }
aside {
    margin: 0 20px 10px;
    width: 150px;
    float: left;
    border: 1px solid black; }
footer { clear: both; }

